<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!--Mint.com login URL and html elements' ID's.-->
    <add key="LoginPage" value="https://wwws.mint.com/login.event" />
    <add key="UserNameFieldId" value="ius-userid" />
    <add key="PasswordFieldId" value="ius-password" />
    <add key="LoginButtonId" value="ius-sign-in-submit-btn" />
    <add key="LogoutLinkId" value="link-logout" />
    <!--Path to user's budget spreadsheet goes here.-->
    <add key="ExcelWorkBookPath" value="Example: E:\OneDrive\Documents\Budget.xlsm" />
    <!--Name of worksheet on which to print account balances.-->
    <add key="ExcelSheetName" value="Example: Cash Flows" />
    <!--Column number under which account names are listed.  Each row's value in this column needs to match the nickname field for account from Mint.com.-->
    <add key="AccountNameColumnNumber" value="0"/>
    <!--Column number under which account balances are listed.  MintScrape will print the account balance in this column if the the account name matches the Mint.com nickname.-->
    <add key="BalanceColumnNumber" value="1"/>
    <!--Column number under which transactions are listed.  This is used to zero out the transaction column when printing fresh account balances.-->
    <add key="PaymentColumnNumber" value="2"/>
    
    <!--Personal Configurations-->
    <!--Mint.com login's user name.-->
    <add key="UserName" value="Mint.com user name goes here." />
    <!--Mint.com password.-->
    <add key="Password" value="Mint.com password goes here." />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>